*{
	margin:0;
	padding:0;
}
html,body{
	font: 14px/1.5 "PingFang SC", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
    color: #14191e;
}
.options li{
	list-style-type:none;
	float:left;
	padding:0 29px;
	color:white;
}
.options li:hover{
	background-color:#363C41;
	cursor:pointer;
}
.options{
	float:left;
	line-height:64px;
}
header{
	height:64px;
	background-color:black;
}
#imoocIcon{
	margin:0 0 0 28px;	
	float:left;
}
#imoocIcon:hover,.icons:hover,.icons2:hover{
	cursor:pointer;
}
.icons{
	float:right;
	line-height:64px;
	vertical-align:center;
	margin:12px 36px 0 0;
}
.icons li{
	list-style-type:none;
	float:left;
	margin:0 0 0 30px;
}
.icons2{
	float:right;
	line-height:64px;
	vertical-align:center;
	margin:32px 153px 0 0;
}
.icons2 li{
	list-style-type:none;
	float:left;
	margin:0 0 0 12px;
}
#happyIcon{
	margin-top:-4px;
}
.options2 li{
	list-style-type:none;
	float:left;
	margin:0 34px 0 0px;
	color:#666;
}
.options2 li{
	cursor:pointer;
	color:white;
}
.options2{
	float:left;
	margin:33px 0 14px 0;
}
footer{
	height:106px;
	background-color:black;
}
#mainbody{
	height:1000px;
	background-color:white;
	width:1325px;
	margin:0 auto;
}
.bottom_left{
	float:left;
	margin:0 0 0 156px;
	font-size:14px;
}
#recruit{
	float:right;
	display:block;
	margin:-27px 0px 0 0;
	transition:margin .2s linear 0s;
}
#recruit:hover{
	cursor:pointer;
	margin-right:-12px;
}
h3{
	margin:25px 0 0 0px;
	font-weight:bold;
}
.mainbody_top{
	padding:0 0 20px 0;
	border-bottom:1px solid #ccc;
}
dt{
	float:left;
	margin:0 0 0 22px;
	color:#8d9191;
}
dd{
	float:left;
	margin:0 0 0 33px;
	padding:2px 5px;
}
dd:hover,.text:hover{
	color:red;
	cursor:pointer;
}
.direction,.classify,.diffculty{
	float:left;
	line-height:21px;
	border-bottom:1px solid #ccc;
	width:1325px;
	font-size:14px;
	margin:12px 0;
	padding-bottom:16px;
}
.selected,.selected:hover{
	background-color:red;
	color:white;
}
.leftbottom{
	float:left;
	margin:0 0 0 21px;
}
.leftbottom span{
	margin:0 47px 0 0;
}
.rightbottom{
	float:right;
}
.text{
	margin:0 20px 0 0;
	vertical-align:50%;
}
.numberOfPages{
	margin:0 10px 0 0;
	vertical-align:50%;
}
#selection{
	vertical-align:50%;
}
#right{
	margin-right:25px;
}
.course{
	float:left;
	padding:23px;
	margin:18px 18px 18px 0;
}
.course:hover{
	cursor:pointer;
	box-shadow:3px 3px 3px #ccc;
	border:1px solid #ccc;
}
.selectcourse{
	height:235px;
}
p{
	line-height:25px;
}
.coursename{
	font-weight:bold;
}
.courseDescription{
	color:#cdc1bf;
}
.learn{
	color:#787d82;
}
.copyright{
	color:#787d82;
}